:root {
  --font-body: Raleway, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #88be32;
  --secondary-color: #5f8b2f;
  --tertiary-color: #24242a;
  --light-grey: #494a4f;
  --dark-grey: #696a6f;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--tertiary-color);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.social-links a {
  transition: all 0.3s ease;
}

.social-links img {
  width: 30px;
  height: 30px;
}

.social-links a:hover {
  transform: scale(1.1);
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
  transition: all 0.3s ease;
}

.logo a:hover {
  color: var(--primary-color);
}

.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Contact form styles */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  font-family: var(--font-body);
  padding: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  font-size: var(--font-base);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: #fff;
  color: var(--tertiary-color);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid var(--primary-color);
  border-color: var(--primary-color);
}

.contact-form button {
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-base);
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--secondary-color);
}

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
.product-categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.product-categories li {
  flex: 1 1 20%;
  text-align: center;
  margin: 0.5em;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.product-categories li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--light-grey);
}
.product-categories li a {
  text-align: center;
  text-decoration: none;
  color: var(--dark-grey);
}
.product-categories li a img {
  width: 100%;
  max-width: 100px;
  height: auto;
  max-height: 100px;
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid black;
  background: black;
  color: white;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.product__discount {
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  margin: 8px 0;
  display: inline-block;
}

/* Checkout styles */
#checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Sort controls*/
.sort-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.sort-controls label {
  font-weight: bold;
}
.sort-controls select {
  padding: 5px 10px;
  font-size: 1rem;
}

.service-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.service-detail img {
  width: 100%;
  max-width: 300px;
}

.service-description {
  max-width: 600px;
  text-align: center;
}

.vin-results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
  justify-content: center; /* Optional: centers rows */
}

.results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
}

#vin {
  text-transform: uppercase;
}

.info {
  font-size: var(--small-font);
  border: 1px solid var(--light-grey);
  padding: 0.5em;
  border-radius: 8px;
  box-sizing: border-box;
  height: auto;
  width: 30%;
  min-height: 300px; /* Fixed height for uniformity */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.vin-lookup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 1rem auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 1px var(--light-grey);
}

.vin-lookup-form label {
  font-weight: bold;
  margin: 1rem;
}

.vin-lookup-form input {
  padding: 0.75rem;
  font-size: var(--font-base);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: #fff;
  color: var(--tertiary-color);
}

.vin-lookup-form input:focus {
  outline: 2px solid var(--primary-color);
  border-color: var(--primary-color);
}
.vin-lookup-form button {
  padding: 0.75rem;
  background-color: rgb(198, 29, 29);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-base);
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.vin-lookup-form button:hover {
  background-color: var(--secondary-color);
}

.info p {
  margin: 0.1rem;
}

.info h3 {
  margin: 0.5rem 0;
  color: var(--primary-color);
}

.locals {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 1rem;
  width: auto;
  max-width: 80%;
  margin: 1rem auto;
  color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-shop-finder-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  margin: 1rem auto;
  border: solid 1px var(--light-grey);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.car-shop-finder-form label {
  font-weight: bold;
  margin: 1rem;
}

.car-shop-finder-form input {
  padding: 0.75rem;
  font-size: var(--font-base);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: #fff;
  color: var(--tertiary-color);
}
.car-shop-finder-form input:focus {
  outline: 2px solid var(--primary-color);
  border-color: var(--primary-color);
}
.car-shop-finder-form button {
  padding: 0.75rem;
  background-color: rgb(198, 29, 29);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.5s ease;
}

.car-shop-finder-form button:hover {
  background-color: var(--secondary-color);
}

.car-calculator-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 1rem auto;
  border: solid 1px var(--light-grey);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.car-calculator-form label {
  font-weight: bold;
  margin: 1rem;
}
.car-calculator-form input {
  padding: 0.75rem;
  font-size: var(--font-base);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: #fff;
  color: var(--tertiary-color);
}
.car-calculator-form input:focus {
  outline: 2px solid var(--primary-color);
  border-color: var(--primary-color);
}
.car-calculator-form button {
  padding: 0.75rem;
  background-color: rgb(198, 29, 29);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-base);
  transition: background-color 0.3s ease;
}
.car-calculator-form button:hover {
  background-color: var(--secondary-color);
}

.formatted-ai {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f9f9f9;
  padding: 1em;
  border-radius: 12px;
  margin-top: 1em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: auto;
  border: none;
  max-width: 600px;
  margin: 0 auto;
}

.formatted-ai h3,
.formatted-ai h4 {
  margin-bottom: 0.5em;
  color: #333;
}

.formatted-ai p {
  margin: 0.25em 0;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--dark-grey);
  transition: all 0.3s ease;
}

footer a:hover {
  color: var(--primary-color);
}

.about-intro,
.about-mission,
.team,
.values {
  padding: 1.5rem;
  text-align: center;
}

.about-intro h1,
.about-mission h2,
.team h2,
.values h2 {
  letter-spacing: 1px;
  font-size: var(--large-font);
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.values ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.values li {
  font-size: var(--font-base);
  margin-bottom: 1rem;
}

/* This will style the quantity input inside the cart items */
.cart-card__quantity input[type="number"] {
  width: 50px; /* Adjust the width to make it smaller */
  height: 30px; /* Adjust the height to make it smaller */
  padding: 5px; /* Add padding to ensure the number fits */
  font-size: 14px; /* Adjust the font size to make it fit better */
  text-align: center; /* Center the number inside the input */
}

/* Checkout page styles */
.checkout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

#checkout-form {
  flex: 1 1 60%;
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#checkout-form div {
  display: flex;
  flex-direction: column;
}

#checkout-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#checkout-form .input-field {
  padding: 0.5rem;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  font-size: var(--font-base);
}

#checkout-form .button {
  margin-top: 1rem;
  align-self: center;
}

.order-summary {
  flex: 1 1 35%;
  padding: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-summary p {
  font-size: var(--font-base);
  margin: 0.5rem 0;
}

.order-summary .highlight {
  font-weight: bold;
  color: var(--primary-color);
}

.alert-box {
  display: flex;
  width: 90%;
  height: auto;
  margin: 1rem auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(233, 93, 93);
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.alert-box span {
  font-weight: bold;
  cursor: pointer;
}

#colorOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.color-swatch {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.color-swatch img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
}

.color-swatch img:hover,
.color-swatch img.selected {
  border: 2px solid #000;
}
